.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination span {
    font-size: 1.2em;
    margin: 0 20px;
    font-weight: bold;
    color: #333;
}

.pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-buttons button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #8fca87;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.pagination-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}

.pagination-buttons button:hover:not(:disabled) {
    background-color: #7bb776;
    transform: translateY(-2px);
}



.pagination-buttons button:focus {
    outline: 3px solid #8fca87;
}

@media (max-width: 768px) {
 

    .pagination span {
        font-size: 1em;
    }
}
