/* Page container */
.page-container {
  max-width: 70vw;
  margin: 20px auto;
  background-color: var(--background-color);
}

/* Page title */
.page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
}

/* Loading text */
.loading-text {
  text-align: center;
  font-size: 1rem;
  color: var(--light-text-color);
}

/* Table container */
.table-container {
  overflow: auto;
  margin-bottom: 20px;
  height: 60vh;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

/* Custom table styles */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.custom-table th,
.custom-table td {
  border: 1px solid var(--border-color);
  padding: 8px 20px;
  text-align: left;
}

.custom-table td:first-child {
  border-left: none;
}

.custom-table td:last-child {
  border-right: none;
}

.custom-table th {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: 1px solid var(--secondary-color);
  font-weight: bold;
  white-space: nowrap;
  padding: 10px 20px;
  width: 3rem;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
  width: 14rem;
}
.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
  width: 14rem;
}

/* Row colors */
.hovered-row:hover {
  background-color: var(--hovered-background-color-row);
}

/* Pagination container */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Pagination buttons */
.pagination-btn {
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  background-color: var(--pagination-btn-bg);
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination-btn:hover {
  background-color: var(--pagination-btn-hover-bg);
  color: #fff;
}

.pagination-btn.disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
}

/* Pagination info */
.pagination-info {
  font-size: 0.9rem;
  color: var(--light-text-color);
}
