body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #213547;
  background-color: #ffffff;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.6;
}

table {
  width: 95%;
  margin: 1rem auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 0.1rem solid rgb(130, 130, 173);
  padding: 1rem;
  text-align: left;
}

th {
  background-color: #f0f8ff;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

td {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 1rem;
}

tbody tr:hover {
  background-color: #d6eeee;
  transition: background-color 0.3s ease;
}

.header-text {
  color: #213547;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.pagination-button {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
}

.pagination-button:hover {
  background-color: darkgray;
  transform: scale(1.1);
}

.pagination-button.active {
  background-color: blue;
  font-weight: bold;
  color: white;
  transform: scale(1.2);
}

.pagination-button-previous,
.pagination-button-next {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
}
.pagination-button:disabled {
  cursor: not-allowed;
}
.pagination-button-previous:not(:disabled):hover,
.pagination-button-next:not(:disabled):hover {
  background-color: lightblue;
}

.table-container {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 90%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
