.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;
}

.page-btn {
    background-color: #007F65;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.page-btn:hover {
    background-color: #45a049;
}

.page-btn.first,
.page-btn.prev,
.page-btn.next,
.page-btn.last {
    background-color: #cf4406;
}

.page-btn.active {
    background-color: #006400;
}

.page-btn:disabled {
    background-color: #666160;
    cursor: not-allowed;
}

button.page-btn.first {
    margin-right: 50px;
}
button.page-btn.last {
    margin-left: 50px;
}

button.page-btn.prev {
    background: #3e3e3eab;
    border: 1px solid #007f65;
}

button.page-btn.next {
    background: #3e3e3eab;
    border: 1px solid #007f65;
}
.ellipsis {
    font-size: 1rem;
    color: #007F65;
    padding: 10px;
}