:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --hovered-background-color-row: #f1f1f1;
  --text-color: #212529;
  --light-text-color: #868e96;
  --border-color: #dee2e6;
  --disabled-bg-color: #e9ecef;
  --disabled-text-color: #adb5bd;
  --hover-bg-color: #0056b3;
  --link-color: #007bff;
  --pagination-btn-bg: #ffffff;
  --pagination-btn-hover-bg: #007bff;
}

body {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
}
