* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-color: #fafafa;
}

body {
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.app-main {
  margin: 0 auto;
  flex: 1;
}

.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-color);
  height: 50px;
  gap: 6px;
}
